<div class="container">
  <a href="/">View Categories</a>

  <h1><%= @post.name %></h1>

  <h2>How Tough was this guy?</h2>
  <p><%= @post.description %></p>

  <h3>Where is this chump?:</h3>
  <p><%= @post.location%></p>
</div>
